<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EventMobi Tool{% endblock %}</title>
    <link rel="stylesheet" href="https://thorben.io/tms/emhelperstyle.css">
</head>
<body>
    <header>
        <h1>EventMobi Tool</h1>
        <nav>
            <ul>
                <li><a href="/delete_sessions_group/api_key">Delete Sessions in Group</a></li>
                <li><a href="/add_people_to_group/api_key">Add People to Group by Email</a></li>
                <li><a href="/manage_chat/api_key">Manage Chat Settings</a></li>
            </ul>
        </nav>
    </header>

    <!-- Flash messages block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 EventMobi Tool</p>
    </footer>
</body>
</html>
